<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="com.boot.lab.dao.CustomerDao" >

	<select id="selectByUsername" resultType="com.boot.lab.domain.Customer">
		select * from customer where username = #{username}
	</select>
	
	<insert id="insertCustomer">
		insert into customer(username,password,email) values(#{username},#{password},#{email})
	</insert>
	
</mapper>

