<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 對應持久層的介面 -->
<mapper namespace="com.xuan.boot.lab.dao.MyOrderDao" >

	<select id="selectOrderByid" resultType="com.xuan.boot.lab.domain.MyOrder">
		
		select * from myorder where cid = #{cid}
		
	</select>
		
	<insert id="addOrder" parameterType="com.xuan.boot.lab.domain.MyOrder">
		
		insert into myorder(cid,cart,price) values(#{cid},#{cart},#{price})	
		
	</insert>
	
</mapper>

